html {
    background-image: url("img/background.webp");
}
/*combo header*/
#header {
    background-color: #ff6a7b;
    position: absolute;
    top: 0px;
    left: 0px;
}
#bgr1 {
    background-color: rgba(255,106,123,0.71);
    position: absolute;
    width: 75%;
    height: 400px;
    top: 170px;
    left: 340px;
}
#logo {
    content: url("img/logopet.png");
    position: absolute;
    top: -50px;
    width: 300px;
    height: 350px;
}
#tk {
    content: url("img/tk.png");
    position: absolute;
    width: 80px;
    top: 9px;
    left: 1250px;
}
#tk:active {
    transform:translate(0,4px);
}
#shop {
    content: url("img/shop.png");
    position: absolute;
    width: 90px;
    top: 3px;
    left: 1170px;
}
#shop:active {
    transform:translate(0,4px);
}
#cook {
    content: url("img/cook.png");
    position: absolute;
    width: 75px;
    top: 15px;
    left: 900px;
}
#phone {
    position: absolute;
    content: url("img/phone.png");
    width: 70px;
    top: 17px;
    left: 660px;
}
#search {
    position: absolute;
    top: 47px;
    left: 343px;
    width: 130px;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    outline: none;
    padding: 12px 14px;
    transition: 0.6s ease-in-out;
}
#search:focus {
    width: 300px;
    background-color: #cacaff;
}
/*hết combo header*/

#table1 {
    position: absolute;
    top: 110px;
    left: 341px;
    font-size: 25px;
    width: 75%;
    border: white;
    background-color: #ff6a7b;
}
/*combo sổ xuống*/
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-ct {
    border-radius: 5px;
    font-size: 18px;
    display: none;
    position: absolute;
    background-color: #ff6a7b;
    min-width: 157px;
    box-shadow: 0px 0px 0px 0px;
    z-index: 1;
}
.dropdown-ct a {
    border-radius: 5px;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
}
.dropdown-menu {
    background-color: #ff6a7b;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    padding: 10px;
    border: none;
    width: 157px;
    transition: 0.3s;
}
.dropdown-ct a:hover {
    background-color: cornflowerblue;
    transition: 0.1s;
}
.dropdown:hover .dropdown-ct {
    display: block;
}
.dropdown:hover .dropdown-menu {
    background-color: #bc4545;
}
/*hết combo sổ xuống*/

#map {
    position: absolute;
    top: 217px;
    left: 30px;
    height: 350px;
    border: #ff6a7b;
    border-style: double;
}
.paragrap1 {
    position: absolute;
    top: 25px;
    left: 740px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: #ff6a7b;
    color: #ff6a7b;
}
.paragrap2 {
    position: absolute;
    top: 60px;
    left: 741px;
    font-size: 15px;
    font-family: sans-serif;
    font-style: initial;
}
#time {
    position: absolute;
    top: 25px;
    left: 980px;
}
#ptime {
    position: absolute;
    top: 60px;
    left: 980px;
}
#hr1 {
    background-color: #ff6a7b;
    border: none;
    position: absolute;
    width: 805px;
    height: 5px;
    top: 604px;
    left: 547px;
}
#spbc {
    position: absolute;
    top: 567px;
    left: 340px;
    color: #ff6a7b;
    font-size: 20px;
    font-family: sans-serif;
    border: #ff6a7b;
    border-style: solid;
    padding: 5px;
    border-radius: 10px;
    background-color: white;
}
.sp {
    margin: 20px;
    border: #ff6a7b;
    border-style: dashed;
    background-color: white;
    text-align: center;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 100px;
}
.asp {
    width: 150px;
    height: 150px;
}
.ten_sp {
    font-family: sans-serif;
    font-size: 14px;
    position: absolute;
    color: black;
    top: 185px;
    left: 35px;
}
#table2 {
    width: 65%;
    position: absolute;
    top: 650px;
    left: 450px;
    border: #ff6a7b;
    border-style: dashed;
    border-spacing: 10px;
}
#themsanpham {
    position: absolute;
    width: 350px;
    top: 680px;
    left: 35px;
    border: #ff6a7b;
    border-style: double;
    padding: 10px;
    border-radius: 10px;
    border-spacing: 10px;
    font-family: sans-serif;
    font-size: 15px;
    background-color: rgba(255,251,244,0.51);
}
#imgsanpham {
    border: 1px;
    border-radius: 5px;
    border-color: #ff6a7b;
    border-style: solid;
    width: 200px;
}
#namesanpham {
    width: 280px;
    font-size: 18px;
    font-family: sans-serif;
    background-color: rgba(255,251,244,0.51);
}
#pricesanpham {
    width: 280px;
    color: #1e7e34;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: rgba(255,251,244,0.51);
}
#delete {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #ff6a7b;
    border-radius: 5px;
    display: inline-block;
    padding: 16px 32px;
    cursor: pointer;
    font-weight: bold;
 }
#delete:hover {
    background-color: #ff6a7b;
    color: white;
}
#cotdelete {
    width: 200px;
    text-align: center;
}
#cotedit {
    width: 200px;
    text-align: center;
}
#edit {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #ff6a7b;
    border-radius: 5px;
    display: inline-block;
    padding: 16px 32px;
    cursor: pointer;
    font-weight: bold;
}
#edit:hover {
    background-color: #ff6a7b;
    color: white;
}
#them {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border: 2px solid #ff6a7b;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
#them:hover {
    background-color: #ff6a7b;
    color: white;
}
#table3 {
    position: absolute;
    background-color: rgba(255,106,123,0.61);
    padding: 10px;
    left: 1020px;
    top: 200px;
    width: 300px;
    height: 350px;
    border: white;
    border-style: dashed;
}
a {
    color: black;
}
hr {
    border-style: dashed;
    border-color: white;
}
#tieude1 {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}


